# IDE-specific metadata
.idea/
*.iml
*.ipr
*.iws

# Target folders
target/
out/
build/

local.properties

uploads/

# Class files
*.class

# Temporary and logs
tmp/
temp/
logs/
*.log

# Dependency caches
lib/
node_modules/

# Package Files #
#################
*.jar
*.war
*.ear
